
body {
  font-family: "Titillium Web", serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.limit-width-1600 {
  max-width: 1600px;
  margin:0 auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.header {
  background-color: #0099ff;
  color: white;
  overflow: hidden;
  padding: 20px;
  font-size: 20px;
}

.logo {
  width: 30px;
  vertical-align: top;
}
.tickets-table th,
.tickets-table td {
  text-align: left;
  padding: 5px 9px;
  max-width: 400px;
  line-height: 24px;
}

.tickets-table {
  margin: 30px 0;
  width: 100%;
}

.pagination-button {
  cursor: pointer;
  background-color: #0099ff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}
.pagination-button.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}
.tickets-table tr:nth-child(even) {
  background-color: #eeeeee;
}
.pagination {
  text-align: center;
}
.edit-icon {
  display: none;
}
.editable-value:hover .edit-icon {
  display: block;
}
.icon-span {
  float: right;
  width:24px;
  height:24px;
  cursor: pointer;
}
.edit-icon {
  background: url("/assets/edit.png") no-repeat;
}
.cancel-icon {
  background: url("/assets/cancel.png") no-repeat;
}
.save-icon {
  background: url("/assets/save.png") no-repeat;
}
.tickets-table editable {
  display: block;
  width: 180px;
}
.tickets-table editable input {
  width: 118px;
}
a.like-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}