<div class="limit-width-1600">
    <div ng-show="tickets === null">Loading...</div>
    <div ng-show="tickets !== null">
        <table class="tickets-table">
            <thead>
            <tr>
                <th>Ticket Id</th>
                <th>Status</th>
                <th ng-click="reverse = !reverse">Creation Time</th>
                <th>Owner</th>
                <th>Present Participants</th>
                <th>Site</th>
                <th>Equipment</th>
                <th>Model</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ticket in tickets | orderBy:'createdAt':reverse | limitTo:20:page track by $index">
                <td><a ng-click="gotoTicket(ticket.ticketId)" class="like-link">{{ticket.ticketId}}</a></td>
                <td>{{ticket.status}}</td>
                <td>{{ticket.createdAt | date:'medium'}}</td>
                <td>{{ticket.owner}}</td>
                <td>{{ticket.participant}}</td>
                <td><editable value="ticket.site" on-save="updateTicket(ticket)"></editable></td>
                <td><editable value="ticket.equipment" on-save="updateTicket(ticket)"></editable></td>
                <td><editable value="ticket.model" on-save="updateTicket(ticket)"></editable></td>
                <td><editable value="ticket.description" on-save="updateTicket(ticket)"></editable></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            Displaying {{page + 1}} to
            {{Math.min(page + 20, tickets.length)}}
            of {{tickets.length}}
            <a ng-click="page = page - 20" class="f-l pagination-button"
               ng-class="{'disabled': page == 0}">Back</a>
            <a ng-click="page = page + 20" class="f-r pagination-button"
               ng-class="{'disabled': page + 20 > tickets.length}">Next</a>
        </div>
    </div>
</div>